<Doctype! html>
<head>
    <link rel="stylesheet" href="/static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body background ="/static/images/pngwing.png"style="background-size:cover;background-position:bottom;">
    
    <p class ="login_head"><b>Login</b></p>
    <form id = "admin_form"class="form_class"method="post"action="login">
     <label for ='username'class="lab_class"><b>Username:</b></label>
     <input type ="text"class="username"name="username">
     <label for ='password'class="pass_class"><b>Password:</b></label>
     <input type ="password"class="password"name="password">
     <input type = "submit"value="SUBMIT"class="sub_button">
    </form>
</body>
<script>

</script>
</html>
